<div id="program">
    <div class="program-tejek row">
        <div class="col">
            <p class="program-tejek-szov">
                Kérlek jelölt be, azokat a tervezett programokat amelyeken szívesen résztvennél!
                <br>Értesítünk, ha az életkorodnak megfelő csoport is indul.</p>
        </div>
    </div>

    
    <div class="row program-sor"  *ngFor="let igeny of igenyek" >
        <div class="program-kep col-auto">
            <img class="program-kep-file" [src]="igeny.kep" alt="">
        </div>
        <div class="program-szoveg col">
            <h6 class="program-cim">{{igeny.nev}}</h6>
            <p class="program-leir">{{igeny.leir}}</p>
            <p class="program-leir">{{igeny.hetNap}} {{igeny.kezdes}}-{{igeny.vege}} {{igeny.ar}}Ft</p>
            <p class="program-leir"></p>
        </div>
        <div class="program-ertek col-auto" [ngClass]='igeny.itn'>
            <img class="program-ertek-ikon" src="assets/{{igeny.itn}}.svg" alt="">
        </div>
    </div>

</div>

