        <div id="menu">
            <div class="menu-bezar col-12 ">
                <img id="menu-x" class="" src="assets/menu_x.svg" 
                routerLink="/top" alt="top" class="closebtn">
            </div>

            <div id="nav-1" class="menu-sor row align-items-center">
                <div class="menu-ikon col-auto ">
                    <img class="menu-kep" src="assets/m_00_home.svg" alt="">
                </div>
                <div class="col">
                    <a class="menu-sz m-0 py-auto" 
                    routerLink="/top">Főoldal</a>
                </div>
            </div>

            <div id="nav-2" class="menu-sor row align-items-center">
                <div class="menu-ikon col-auto ">
                    <img class="menu-kep" src="assets/m_01_keres.svg" alt="">
                </div>
                <div class="col">
                    <a class="menu-sz m-0 py-auto" 
                    routerLink="x">Keresés</a>
                </div>
            </div>
            <div id="nav-3" class="menu-sor row align-items-center">
                <div class="menu-ikon col-auto ">
                    <img class="menu-kep" src="assets/m_03_uzen.svg" alt="">
                </div>
                <div class="col">
                    <a class="menu-sz m-0 py-auto" 
                    routerLink="x">Üzenetek</a>
                </div>
            </div>
            <div id="nav-4" class="menu-sor row align-items-center">
                <div class="menu-ikon col-auto ">
                    <img class="menu-kep" src="assets/m_04_szimpat.svg" alt="">
                </div>
                <div class="col">
                    <a class="menu-sz m-0 py-auto" 
                    routerLink="x">Kölcsönös szimpátia</a>
                </div>
            </div>
            <div id="nav-5" class="menu-sor row align-items-center">
                <div class="menu-ikon col-auto ">
                    <img class="menu-kep" src="assets/m_05_igeny.svg" alt="">
                </div>
                <div class="col">
                    <a class="menu-sz m-0 py-auto" 
                    routerLink="/igeny">Igények felmérése</a>
                </div>
            </div>
            <div id="nav-6" class="menu-sor row align-items-center">
                <div class="menu-ikon col-auto ">
                    <img class="menu-kep" src="assets/m_06_indul.svg" alt="">
                </div>
                <div class="col">
                    <a class="menu-sz m-0 py-auto" 
                    routerLink="/indul">Induló rendezvények</a>
                </div>
            </div>
            <div id="nav-6" class="menu-sor row align-items-center">
                <div class="menu-ikon col-auto ">
                    <img class="menu-kep" src="assets/m_05_igeny.svg" alt="">
                </div>
                <div class="col">
                    <a class="menu-sz m-0 py-auto" 
                    routerLink="x">Részt vettél rajta</a>
                </div>
            </div>
            <div id="nav-6" class="menu-sor row align-items-center">
                <div class="menu-ikon col-auto ">
                    <img class="menu-kep" src="assets/m_07_interju.svg" alt="">
                </div>
                <div class="col">
                    <a class="menu-sz m-0 py-auto" 
                    routerLink="x">Videó intrerjú</a>
                </div>
            </div>
            <div id="nav-6" class="menu-sor row align-items-center">
                <div class="menu-ikon col-auto ">
                    <img class="menu-kep" src="assets/m_08_bealit.svg" alt="">
                </div>
                <div class="col">
                    <a class="menu-sz m-0 py-auto" 
                    routerLink="x">Beállítás</a>
                </div>
            </div>
            <div class="">
                <div class="row">
                    <div class="col">
                        <img class="" src="assets\MEGI_LOGO_OK_E.jpg" alt="" width="200px" onclick="requestFullScreen();">
                    </div>
                </div>
            </div>
        </div>
