<div id="caro-01" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner justify-content-center">

        <div class="carousel-item active">
            <div class="caro-row row">
                <div class="caro-col col-3">
                    <img class="kep-me" src="assets/P-01.jpg" alt="">
                </div>
                <div class="caro-col col-3">
                    <img class="kep-me" src="assets/P-03.jpg" alt="">
                </div>
                <div class="caro-col col-3">
                    <img class="kep-me" src="assets/P-04.jpg" alt="">
                </div>
                <div class="caro-col col-3">
                    <img class="kep-me" src="assets/P-05.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="caro-row row">
                <div class="caro-col col-3">
                    <img class="kep-me" src="assets/P-06.jpg" alt="">
                </div>
                <div class="caro-col col-3">
                    <img class="kep-me" src="assets/P-07.jpg" alt="">
                </div>
                <div class="caro-col col-3">
                    <img class="kep-me" src="assets/P-08.jpg" alt="">
                </div>
                <div class="caro-col col-3">
                    <img class="kep-me" src="assets/P-09.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="caro-row row">
                <div class="caro-col col-3">
                    <img class="kep-me " src="assets/P-10.jpg" alt="">
                </div>
                <div class="caro-col col-3">
                    <img class="kep-me" src="assets/P-16.jpg" alt="">
                </div>
                <div class="caro-col col-3">
                    <img class="kep-me" src="assets/P-12.jpg" alt="">
                </div>
                <div class="caro-col col-3">
                    <img class="kep-me" src="assets/P-13.jpg" alt="">
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#caro-01" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#caro-01" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>