<div id="program">
    <div class="program-tejek row ">
        <div class="col">
            <p class="program-tejek-szov">
                Jelentkezni tudsz a korosztályodnak megfelelő induló programjainkra. </p>
        </div>
    </div>

    <div class="row program-sor" *ngFor="let indul of indulok">
        <div class="program-kep col-auto">
            <img class="program-kep-file" [src]="indul.kep" alt="">
        </div>
        <div class="program-szoveg col">
            <h6 class="program-cim">{{indul.nev}}</h6>
            <p class="program-leir">{{indul.leir}}</p>
            <p class="program-leir">
              H:{{indul.noMin}}-{{indul.noMax}} U:{{indul.ffMin}}-{{indul.ffMax}} - {{indul.ar}}Ft
            <p class="program-leir"></p>
        </div>
        <div class="program-indul col-auto" [ngClass]='indul.itn'>
            <h6 class="program-ho">AUG</h6>
            <h5 class="program-nap">27</h5>
            <h6 class="program-ho">CSÜ</h6>
        </div>
    </div>


</div>
>
