<!-- IGEN-TALÁN-NEM -->
<div class="row justify-content-center">
    <div class="itn col col-12 col-sm-4">
        <div class="itn row">
            <div id="nem" class="bor col-4 text-center">
                <img id="nem-kep" class="itn" src="assets/nem.svg" alt="logo">
            </div>
            <div id="talan" class="bor col-4 text-center">
                <img id="talan-kep" class="itn" src="assets/talan.svg" alt="logo">
            </div>
            <div id="igen" class="bor-u col-4 text-center">
                <img id="igen-kep" class="itn" src="assets/igen.svg" alt="logo">
            </div>
        </div>
    </div>
</div>    
