<div class="container-fluid ">
    <div class="row align-items-start justify-content-center ">
        <div class="col col-12 col-sm-3 col-lg-3 col-a nincs-keret" >
                <app-menu></app-menu>
        </div>
        <div class="col col-12 col-sm-4 col-lg-4 align-items-start" >
            <div class="row align-items-start">
                    <div class="col-12 nincs-keret" >
                        <app-fej></app-fej>
                    </div>
                    <div class="col-12 nincs-keret" >
                        <router-outlet></router-outlet>
                    </div>
            </div>
        </div>
    </div>
</div>

