<div id="fej" class="container-fluid fixed-top">
    <div class="row justify-content-center">
        <div class="fej col col-12 col-sm-4">
            <div class="row fej">
                <div class="fej-bal fej col-6">
                    <img id="fej-bal-kep" class="fej" src="assets\MEGI_LOGO_OK_D.jpg" alt="logo" 
                    routerLink="/top" alt="top">
                </div>
                <div class="fej-jobb fej col-6">
                    <img id="fej-jobb-kep" class="fej" src="assets/burger.jpg" 
                    routerLink="/indul" alt="indul">
                </div>
            </div>
        </div>
    </div> 
</div>